@media screen and (max-width: 670px) {
  .navbar {
    background-color: #fff;
    z-index: 2;
  }
  html,body{
    max-width: 100%;
    overflow-x: hidden;
  }
  .nav-link {
    color: black;
    font-size: 15px;
  }
  .nav-link:hover {
    color: greenyellow;
  }
  .btns {
    color: black;
    font-size: 15px;
  }
  .text-container h1 {
    font-size: 25px;
  }
  .main {
    background-position: center top;
    width: 100%;
     height:100vh;
  }
  .posi-one {
   margin-top:50px;
} 
  .main-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .para2 {
    margin-top: 20px;
    margin-left: 25px;
  }
  .para-three-1 {
    margin: 15px 0 0 15px;
    }
  .coff {
    display: flex;
    flex-direction: row;
  }
  .coff img {
    width: 300px;
    height: auto;
  }
  .one {
    margin: 20px;
  }
  /* 3 */
  .para-three-1 {
    margin: 15px 0 0 0;
  }
  .para-three-1 h5{
     font-size: 18px;
     color: rgb(20, 9, 6);
  }
   .p1{
    text-align: center;
   }
  .add-1 button:hover{
    background-color: yellowgreen;
  }
  .add-1 {

    margin:0 0 20px 0;
  } 
  .add-1 img{
    width: 200px;
  }
  .add-1 {
    width: 200px;
    height: auto;
  }
  .add-1>button{
    margin-left:50px;
  }
  /* small */
  .small {
    margin:50px;
  }
  .small h3{
    font-size: 20px;
  }
  .po-d-1 img {
    left: 250px;
    bottom: -40px;
    width: 200px;
  }
  /* 4 */
  .float {
    margin-top: 30px;
  }
  /* .contain-four{
    display: flex;
    flex-direction: column;
  } */
  .add-2 img{
    width: 200px;
    margin-bottom:0px;
  }
  .add-2 img {
    margin: 10px 0px;
  } 
  .container-five {
    background-position: center;
  }
  .small-1 {
    margin: 20px ;
    margin-bottom: 0px;
    margin-left: 30px;
  }
 .container-five{
    background-image: url(./img/sec\ bgtwo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-top:70px;

 }

  .hedfive h3 {
    font-size: 20px;
  }
  /* 6 */
.center-six p{
    font-size:20px;
    color: gray;
}

  /* 3 */
  .ppp {
    width: 250px;
    top: 1150px;
  }
  /* 7 */
  .cu {
    width: 170px;
    left: 300px;
    top: -1380px;
  }
  .posi-seev {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
   .in input{
    width:200px;
   }
   .in button{
    width: 100px;
   }
   .posi-seev{
    /* position: absolute; */
    /* left:350px;
    top:100px ; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalize;
}
.posi-seev>h2{
    font-size:20px;
    font-weight:bold;
    /* color: #2ed408; */
        /* padding: 50PX; */
    text-shadow:2px 2px 6px 2px  black;
}
  .main {
    background-image: url("./img/bg two.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 100vh; 
  }
  /* position */
  .para2{
    max-width: 250px;
    margin-top: 50px;
} 
  .posi-1 img{
    position: absolute;
    bottom: -70px;
    width: 200px;

}
  .posi-2 img{
    position: absolute;
    top: 1220px;
    right: 0;
    width: 200px;

}
.posi-3 img{
    position: absolute;
    bottom:-380px;
    left: 0;
    width: 150px;
}
.posi-4 img{
    position: absolute;
    right: 0;
    top: 40px;
    width: 150px;
    display: none;
} 
.posi-5 img{
    position: absolute;
    right: 0;
    top: 2900px;
    width: 150px;
}
}